#!/bin/bash
#set -o nounset

APPDIR= #TO BE SET TO THE OUTPUT OF "echo $CMSSW_BASE" AND "/src" NEEDS TO BE ADDED
JOBDIR=$APPDIR/DQM/TrackingMonitorSource/test/MC/ZEE
cd $APPDIR
eval $(scramv1 runtime -sh)
cd $JOBDIR
ulimit -c 0
export X509_USER_PROXY=/afs/cern.ch/user/d/dbruschi/private/x509up/x509up_u132335
voms-proxy-info -all
cmsRun step1_cfg_INDEX.py
exit $?
